@import './../../theme/theme.scss';

.projects-outer-container {
  display: flex;
  gap: $grid-gap;
  flex-direction: column;
  justify-content: center;

  .projects-inner-container {
    display: flex;
    gap: $grid-gap;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
  }
}

@media only screen and (max-width: 481px) {
  .projects-container {
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
}
