@import './../../theme/theme.scss';

.menu-desktop {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 48px;
}

.menu-modile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menu-desktop {
    display: none;
  }
  .menu-modile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }
}
