@import './../../theme/theme.scss';

.text-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-primary;
  box-sizing: border-box;
}

@media only screen and (max-width: 481px) {
  .text-header {
    align-items: center;
    justify-content: center;
  }
}
