@import './../../theme/theme.scss';

.header-box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: $header-border solid $border;
  height: $header-height;

  .name-box {
    width: auto;
    display: flex;
    align-items: center;
  }

  .menu-box {
    display: grid;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (max-width: 481px) {
  .header-box {
    .name-box {
      .text-logo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
      }
    }
  }
}
